
<div [formGroup]="form" [className]="'field '+ (form.get(controlName)?.invalid && form.get(controlName)?.touched? 'error': '')">
  <div class="flex flex-row gap-4 w-full ">
    <label [for]="controlName" >{{fieldName}}</label>
    <input type="checkbox" [checked]="value" style="width: 32px !important; "  [placeholder]="placeholder ?? fieldName+'...'" [formControlName]="controlName" [name]="controlName" [id]="controlName">
  </div>

  <div class="field-error" *ngIf="form.get(controlName)?.invalid && form.get(controlName)?.touched">
    @for (error of errors; track $index) {
      <span *ngIf="form.get(controlName)?.errors?.[error.type]">{{error.message}}</span>
    }
  </div>
</div>
