
@defer(){
  <div class="flex flex-col min-w-full w-full gap-4">
    <filter [form]="formFilter" [inputs]="inputsFormFilter"></filter>
    @if(invoices.length > 0){
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      @for (invoice of clientInvoices; track $index) {
        <div [className]="'flex flex-col justify-between gap-4 text-left px-4 md:px-8 py-4 bg-gray-100 shadow-md rounded-md ' + (invoice.paid == undefined? 'unpaided': 'paided')">
          <div class="flex flex-row items-center justify-between">
            <div>
              <div class="text-lg tracking-tighter flex flex-wrap gap-2 text-start items-end">
                <strong [className]="(invoice.paid == undefined? 'text-orange-500': 'text-green-500')">INV-{{invoice.invoiceId}}</strong> <i class="not-italic text-lg font-extralight">Contrato {{serviceDay(invoice)}}</i> <i class="text-base font-extralight">({{invoiceDay(invoice)}})</i>
              </div>
              <div class="tracking-tighter font-extralight">
                <strong [className]="(invoice.paid == undefined? 'text-orange-500': 'text-green-500')">{{invoice.paid ? 'Pagado ' : 'Pendiente'}}</strong> <i class="text-base font-extralight" *ngIf="invoice.paid" > ({{ paidDay(invoice.paid) }})</i>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <app-button [color]="'red'" (click)="deleteInvoice(invoice.invoiceId)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </app-button>
            </div>
          </div>
          <items-table [items]="invoice.items"></items-table>
          <div class="flex flex-row justify-end">
            <p class="text-sm font-medium">Total: ${{invoice.amount.toFixed(2)}}</p>
          </div>
          <hr>

          <div class="flex flex-wrap justify-end gap-2">
            <app-button [color]="'gray'" (click)="viewPdf(invoice.invoiceId)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path d="M12 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v4.5"/><path d="M14 17.5a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0-5 0m4.5 2L21 22"/></g></svg>
            </app-button>
            @if(!invoice.paid){
              <app-button [color]="'blue'" (click)="sendPdf(invoice.clientId, invoice.serviceId, invoice.invoiceId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M12 19H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v5.5M19 22v-6m3 3l-3-3l-3 3"/><path d="m3 7l9 6l9-6"/></g></svg>
              </app-button>
              <app-button [color]="'green'" (click)="addPaid(invoice.invoiceId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2"/><path d="M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v0a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2m5 6h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3H10m2 0v1m0-8v1"/></g></svg>
              </app-button>
            }
          </div>
        </div>
      }
    </div>
  }
  </div>
}
