
<base-layout>
  <ul class="list-none grid lg:grid-cols-3 grid-cols-1 md:grid-cols-2 gap-8 w-full h-full  px-4 py-8">
    <a *ngFor="let item of serviceItems$|async" class="flex flex-col gap-2 px-4 py-2 shadow-md bg-gray-50
              rounded-tr-md rounded-bl-md rounded-tl-3xl rounded-br-3xl" >
      <div class="flex flex-col ">
        <div class="flex flex-row justify-between text-lg tracking-tight">
          <div>
            <strong>{{item.name}}</strong>
          </div>
          <div>
            <div class="flex flex-row gap-4 tracking-tighter text-sm">
              <div>
                <strong>${{item.price}}</strong>
              </div>
              <div class="uppercase font-semibold text-amber-300">
                <strong>${{item.priceCommercial}}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-xs font-extralight">
          <div>
            {{item.description}}
          </div>
        </div>
      </div>
      <hr>
      <div class="flex flex-row justify-end gap-2">

        <app-button [color]="'blue'" (click)="editItem(item)" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
              <path d="M16 5l3 3" />
          </svg>
        </app-button>
        @if(stabilizerId != item.itemId && monthlyId != item.itemId){
          <app-button [color]="'red'" (click)="deleteItem(item)">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
          </app-button>
        }
      </div>
    </a>
  </ul>
</base-layout>
