<div class="flex flex-col gap-2 text-sm text-center overflow-x-scroll shadwo-md">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Dis(%)</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      @for(item of items; track $index){
        <tr>
          <td>{{$index + 1}}</td>
          <td class="description">{{item.name}}</td>
          <td>${{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.discount}}%</td>
          <td>${{calculeItemAmount(item)}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
